
 .card-slider {
display: flex;
overflow-x: auto;
gap: 20px;
padding: 15px;
scroll-behavior: smooth;
 }

 .card-slider::-webkit-scrollbar {
height: 8px;
 }

 .card-slider::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px;
 }
 .card-slider .card {
     min-width: 280px;
    flex: 0 0 auto;
 }
   
.welcome {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 70px;
    letter-spacing: 1px;
}
.button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.card{
    height: 150px;
    width: 150px;
}